@{
    ViewData["Title"] = "Contact";
}

<style>
        body, html {
            height: 100%;
            margin: 0;
            font: 400 15px/1.8 "Lato", sans-serif;
            color: #777;
        }


            body {
                background-image: url('@Url.Content("~/images/snow_animated.jpg")');
                background-repeat: no-repeat, repeat;
                background-size: cover;
                background-position: center;
                position: relative;
                opacity:200%
            }
</style>


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
