@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
        body, html {
            height: 100%;
            margin: 0;
            font: 400 15px/1.8 "Lato", sans-serif;
            color: #777;
        }


            body {
                background-image: url('@Url.Content("~/images/snow_animated.jpg")');
                background-repeat: no-repeat, repeat;
                background-size: cover;
                background-position: center;
                position: relative;
                opacity:200%
            }
</style>

<h2>@ViewData["Title"]</h2>



<p>Use this page to detail your site's privacy policy.</p>
