@model CMPG323_Project_2.Models.GalleryIndexModel

<style>
        body, html {
            height: 100%;
            margin: 0;
            font: 400 15px/1.8 "Lato", sans-serif;
            color: #777;
        }


            body {
                background-image: url('@Url.Content("~/images/snow_animated.jpg")');
                background-repeat: no-repeat, repeat;
                background-size: cover;
                background-position: center;
                position: relative;
                opacity:200%
            }
</style>

<div class="container body-content">
    <form asp-controller="Gallery" asp-action="SearchImages" method="get">
        <p style="padding-left:150px;">
            @using (Html.BeginForm("SearchImages", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.DropDownListFor(m => m.selectedvalue, new List<SelectListItem>
                {
                    new SelectListItem{ Text="Title", Value = "1" },
                    new SelectListItem{ Text="ID", Value = "2" },
                    new SelectListItem{ Text="Tag", Value = "3" },
                    new SelectListItem{ Text="Upload Date", Value = "4" }
                })

                <input type="text" name="searchString" value=@ViewData["GetImageDetails"] placeholder="Enter image title here" style="width: 500px; margin-top: 60px; position: relative; margin-left:5px; " />
                <input type="submit" value="Search" class="btn btn-primary" />
                <a style="margin-left: 3px; color: black" asp-action="Index">| Clear filter</a>
            }
        </p>
    </form>

    <div class=" row gallery-content">
        @foreach (var image in Model.Images)
        {
            <div class="gallery-image-container drop-shadow">
                <a asp-area="" asp-controller="Gallery" asp-action="Detail" asp-route-id="@image.Id">
                    <div class="gallery-image" style="background-image:url(@image.Url)"></div>
                </a>
            </div>
        }
    </div>
</div>